body{
    background-image: url(download\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.link{
    color: white;
    border-collapse: collapse;
    /* padding: 10px; */
    float: right;
    word-spacing: 30px;
    margin-right: 50px;
}
.new-container .head{
    text-align: center;
    box-sizing: border-box;
}
.new-container h4{
    color: white;
}
.btn{
    background-color: white;
    color: palevioletred;
}
.btn2{
    background: transparent;
    color: white;
}
.btn:hover{
    box-shadow: 5px 5px 5px 5px blanchedalmond;
}
.btn2:hover{
    box-shadow: 4px 3px 6px blue;
}